/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

h1 {
  margin: 0.67em 0;
}

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: rgba(0, 0, 0, 0);
}

abbr[title] {
  border-bottom: none;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button;
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

[hidden],
template {
  display: none;
}
/*!
 * Style
 */

@font-face {
  font-family: Crimson;
  src: url(/css/fonts/crimson/crimson-bold.woff2) format("woff2"), url(/css/fonts/crimson/crimson-bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Crimson;
  src: url(/css/fonts/crimson/crimson-italic.woff2) format("woff2"), url(/css/fonts/crimson/crimson-italic.woff) format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: Crimson;
  src: url(/css/fonts/crimson/crimson-bolditalic.woff2) format("woff2"), url(/css/fonts/crimson/crimson-bolditalic.woff) format("woff");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: Crimson;
  src: url(/css/fonts/crimson/crimson-roman.woff2) format("woff2"), url(/css/fonts/crimson/crimson-roman.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}

:root {
  --color-fg: #ffffff;
  --color-bg: #000000;
  --color-light-fg: #999999;
  --color-light-bg: #eeeeee;
  --color-anim: red;
  --line-space: 1.62em;
  --border-width: 2px;
}

*,
::after,
::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: transparent;
}

body,
html {
  overflow-x: hidden;
}

::-moz-selection {
  color: var(--color-fg);
  background-color: var(--color-anim);
  text-shadow: none;
}

::selection {
  color: var(--color-fg);
  background-color: var(--color-anim);
  text-shadow: none;
}

body {
  margin: 0 auto;
  font-size: 1.6rem;
  font-family: Crimson, Garamond, Georgia, Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-fg);
  letter-spacing: 0.01rem;
  line-height: 1.6;
  width: 62%;
  width: max(62%, 250px);
  max-width: 50em;
  background: var(--color-bg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

@media screen and (min-width: 18.75em) { /* 300px */
  body {
    /* Fluid typography
     * calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width]))); */
    font-size: calc(16px + (20 - 16) * ((100vw - 300px) / (1280 - 300)));
  }
}

@media screen and (min-width: 80em) { /* 1280 px */
  body {
    font-size: 2rem;
  }
}

p {
  margin: var(--line-space) 0;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  hyphenate-limit-chars: 6 3 3;
  hyphenate-limit-lines: 2;
  hyphenate-limit-last: always;
  hyphenate-limit-zone: 8%;
}

article,
footer,
header,
main,
section {
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
}

main {
  display: block;
  margin: 0 auto;
}

footer,
header {
  text-align: center;
}

footer {
  color: var(--color-light-fg);
  margin: 2em 0 1em;
}

footer p {
  margin-bottom: 0;
}

h1,
h2,
h3 {
  letter-spacing: 0.01rem;
  margin: 0 0 var(-line-space);
  line-height: inherit;
  font-weight: 400;
  text-align: center;
}

h1 + p,
h2 + p,
h3 + p {
  margin-top: 0.5em;
}

h1 {
  font-size: 1.4em;
}

h2 {
  font-size: 1.4em;
}

h3 {
  font-size: 1.4em;
}

h4,
h5,
h6 {
  font-size: 1em;
  margin: 1em 0 0;
}

a {
  color: var(--color-fg);
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

a:active,
a:focus,
a:hover {
  color: var(--color-bg);
  background: var(--color-fg);
}

[tabindex],
a,
area,
button,
input,
label,
select,
summary,
textarea {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

img {
  max-width: 100%;
  height: auto;
}

figure {
  margin: 0 0 1.62em;
}

figcaption p {
  margin-top: 0;
  font-size: 0.8em;
}

video {
  width: 100%;
  outline: none;
  border: 0;
}

iframe {
  border-style: none;
}

svg:not([fill]) {
  fill: currentColor;
}

pre {
  display: block;
  text-indent: none;
  width: 80%;
  border-left: 2px solid var(--color-fg);
  padding: 1em 2em;
  margin: 1em 0;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

code,
kbd,
pre {
  font-family: Fira Mono, Roboto Mono, Menlo, Consolas, Liberation Mono, monospace;
  font-size: 0.8em;
  background-color: var(--color-light-bg);
}

code,
kbd {
  border: none;
  padding: 0.2em 1em;
  word-break: break-all;
  word-wrap: break-word;
}

pre code {
  padding: 0;
}

blockquote {
  display: block;
  width: 80%;
  font-size: 0.8em;
  font-style: italic;
  background-color: var(--color-light-bg);
  border-left: 2px solid var(--color-fg);
  padding: 1em 2em;
  margin: 1em 0;
}

blockquote p {
  margin: 0;
}

blockquote p + p {
  margin-top: 1em;
}

textarea {
  overflow: auto;
  resize: vertical;
}

hr {
  display: block;
  height: 1px;
  width: 62%;
  border: 0;
  border-top: 1px solid var(--color-fg);
  margin: 3em auto;
  padding: 0;
}

.container ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border-top: solid var(--border-width) var(--color-fg);
}

.container {
  margin: 0 0 3em;
}

.container li {
  text-align: left;
  border-bottom: solid var(--border-width) var(--color-fg);
}

.title {
  text-align: center;
  margin: 0;
  padding: 0;
  border-bottom: solid var(--border-width) var(--color-fg);
}

.header,
.header h1,
.header h1 span,
.container {
  font-size: 1.4em;
}

.title__content {
  display: block;
  border-bottom: solid var(--border-width) var(--color-fg);
}

.title__subtitle {
  display: block;
  opacity: 0;
  font-style: italic;
}

.title__subtitle:focus,
.title__subtitle:active,
.title__subtitle:hover {
  opacity: 1;
  background: var(--color-fg);
  color: var(--color-bg);
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.4em;
}

.info a:first-child {
  border-right: solid var(--border-width) var(--color-fg);
}

.hack {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  background: transparent;
}

.hidden {
  display: none;
}

.button--hack span {
  opacity: 0;
}
